<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='site.css')}}"
    />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  </head>

  <body>
    <div class="navbar">
      <a href="{{ url_for('index_page') }}" class="navbar-brand">Home</a>
      <a href="{{ url_for('about') }}" class="navbar-item">About</a>
      <a href="{{ url_for('turtle') }}" class="navbar-item">Turtle</a>
    </div>

    <div class="body-content">
      {% block content %} {% endblock %}

      <!-- <hr /> -->
    </div>
  </body>
  <footer class="py-2 border-top">
    <p class="mb-0 text-center">
      © Achmad Sepvi Andi Hidayat | 2023 | All Rights Reserved
    </p>
  </footer>
</html>
